* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
:after {
	-moz-box-sizing: borderbox;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
nav,
footer,
header,
aside {
	display: block;
}
html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button:-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
	display: inline-block;
}
a:hover {
	text-decoration: none;
	display: inline-block;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

/* .wrapper {
padding: 30px;
min-height: 100%;
} */
body {
	font-family: "PT Serif", serif;
	/* font-family: 'Roboto', sans-serif; */
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	color: #5e5e5e;
}
header{
	font-family: "Roboto", sans-serif;
}
.container{
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 15px;
}
.header__top{
	background-color: #303030;
}
/* .header__contacts:after{
  content: "";
  clear: both;
  display: block;
} */
.header__phone,
.header__email{
	color: #cbcbcb;
	letter-spacing: 0.25px;
	line-height: 45px;
	position: relative;
}
.header__phone{
	padding: 0px 30px 0px 20px;
}
.header__phone:before{
	content: "\f095";
	font-family: "icomoon";
	position: absolute;
	left: 0;
	color: #ffc222;
}
.header__email{
	padding-left: 24px;
}
.header__email:before{
	content: "\f003";
	font-family: "icomoon";
	position: absolute;
	left: 0;
	color: #ffc222;
}
.header__btn{
	float: right;
	line-height: 36px;
	font-size: 16px;
	color: #1b1b1b;
	background-color: #ffc222;
	padding: 5px 20px 4px 50px;
	position: relative;
}
.header__btn:before{
	content: "\f0b1";
	font-family: "icomoon";
	position: absolute;
	left: 22px;
	color: #1b1b1b;
}
.header__content{
	padding: 34px 0px 23px;
}
.header__content-inner{
	display: flex;
	justify-content: space-between;
}
.menu li{
	display: inline-block;
}
.menu li + li{
	padding-left: 10px;
}
.menu a{
	line-height: 36px;
	font-size: 16px;
	color: #323232;
	padding: 0px 16px;
	border: 1px solid transparent;
	transition: all 0.3s;
}
.menu a:hover{
	border-color: #ffc222;
}
.slider{
	background-image: url(../img/main-img.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 500px;    
	/* position: relative; */
}
.slider__inner{
	position: relative;
	text-align: center;
	/* display: flex; */
	/* flex-direction: row; */
}
.slick__btn{
	position: absolute;
	top: 70%;
	border: 1px solid #fff;
	/* color: #fff; */
	font-family: 'icomoon';
	/* display: block; */
	text-align: center;
	width: 40px;
	height: 40px;
	/* position: relative; */
	background-color: #ffc222;
	cursor: pointer;
}
/* .slick__disabled{
	cursor: default;
	background-color: transparent;
} */
.slick__btn:before{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
}
.slick__btn:hover{
}
.slick__prev{
	/* padding: 20px; */
	left: 0;
}
.slick__prev:before{
	content: "\f104";
}
.slick__next{
	/* padding: 20px; */
	right: 0;
}
.slick__next:before{
	content: "\f105";
}
.slider__item-content{
}
.slider__item{
	text-align: center;
	padding-top: 87px;
	max-width: 665px;
	margin: 0 auto;
}
.slider__title{
	font-size: 30px;
	line-height: 36px;
	text-transform: uppercase;
	/* background-color: #fff; */
	color: #000;
	font-weight: 500;
	letter-spacing: 1.5px;
	margin-bottom: 52px;
	font-family: "Roboto", sans-serif;
}
.slider__text{
	line-height: 24px;
	font-size: 18px;
	background-color: #b3b3b3;
	opacity: 0.8;
	color: #000;
	margin-bottom: 50px;
}
/* .slider__btn {
	display: inline-block;
	font-size: 14px;
	color: #fff;
	font-weight: 500;
	line-height: 24px;
	font-family: "Roboto", sans-serif;
	padding: 8px 30px 8px 24px;
	border: 1px solid #ffc222;
	border-right-width: 20px;
	position: relative;
} */
.default-btn{
	display: inline-block;
	font-size: 24px;
	color: #ffc222;
	font-weight: 500;
	line-height: 24px;
	font-family: "Roboto", sans-serif;
	padding: 8px 30px 8px 24px;
	border: 1px solid #ffc222;
	border-right-width: 20px;
	position: relative;
	background-color: #fff;
	opacity: 0.9;
	transition: 0.1s linear;
}
.default-btn:after{
	content: "\f105";
	font-family: 'icomoon';
	color: #fff;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: -12px;
}
.default-btn:hover{
 opacity: 1;
}
.services{
	padding: 50px 0px 30px;
}
.services__top{
	display: flex;
	justify-content: space-between;
	margin-bottom: 60px;
}
.services__title-box{
	max-width: 520px;
	padding-left: 140px;
	position: relative;
}
.services__title-box:before{
	content: "";
	position: absolute;
	width: 100px;
	height: 2px;
	background-color: #ffc222;
	left: 0;
	top: 11px;
}
.services__title{
font-size: 24px;
font-weight: 500;
line-height: 24px;
color: #212020;
font-family: 'Roboto', sans-serif;
margin-bottom: 10px;
}
.services__text{
	letter-spacing: 0.1px;
}
.services__btn a{
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.25px;
	border: 3px solid #e6e6e6;
	color: #373636;
	padding: 5px 38px;
}
.services__items{
	display: flex;
	justify-content: space-between;
}
.services__item{
	max-width: 360px;
	text-align: center;
	padding: 30px 0px 80px;
	position: relative;
	min-height: 375px;
	background-color: #f9f9f9;
	box-shadow: 0px 7px 24.3px 2.7px rgba(91, 89, 89, 0.14);
}
.services__item-title{
	color: #212020;
	font-size: 18px;
	line-height: 24px;
	font-weight: 500;
	font-family: 'Roboto', sans-serif;
	padding: 24px 0;
}
.services__item-text{
	letter-spacing: 0.1px;
	padding: 0 30px 30px;
}
.services__item-btn{
	position: absolute;
	bottom: 40px;
	left: 0;
	right: 0;
}
.services__item-btn .default-btn{
	color: #373636;
}
.services__item-link{
	font-family: 'Roboto', sans-serif;
	color: #050505;
	border-bottom: 1px solid #050505;
	margin-right: 60px;
}
.about{
	background-image: url(../img/about-fon.jpg);
	background-size: cover;
	background-position: center;
	min-height: 300px;
	background-repeat: no-repeat;
	padding: 25px 0px 45px;
}
.about__inner{
	min-width: 545px;
}
.about__title{
	padding: 10px 0px 25px;
	font-size: 24px;
	line-height: 24px;
	color: #000;
	font-weight: 500;
	font-family: 'Roboto', sans-serif;
}
.about__text{
	margin-bottom: 30px;
	letter-spacing: 0.1px;
	line-height: 24px;
	background-color: #b3b3b3;
	opacity: 0.8;
	color: #000;
}
.about__btn.default-btn:after{
	
}
.form{
	padding-top: 30px;
}
.form__inner{
	padding-bottom: 40px;
	background-image: url(../img/form-woman.jpg);
	min-height: 470px;
	background-repeat: no-repeat;
	background-position: bottom right;
}
.form__inner-box{
	display: flex;
	justify-content: space-between;
}
.form__box-left{
	max-width: 260px;
}
.form__box-right{
	max-width: 555px;
}


